*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', Times, serif;
}
.container2{
    height: 250%;
    width: 100%;
    /* background:plum;*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(146,109,143,0.2)),url(uu.jpeg);
    background-size: 1400px;
    height:641px ;
    border: 2px;
    position: absolute;
    top: 120px;
}
.form-box{
    width: 380px;
    height: 480px;
    background: rgb(255, 255, 255);
    position: relative;
    margin: 7% auto;
    padding: 6px;
    border: solid 1px rgb(51, 114, 130);
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 ;
}
.toogle-button{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    width: 110%;
    height: 100%;
    background:rgb(255, 145, 0);
    position: absolute;
    border-radius: 30px;
    top: 0;
    left: 0;
    transition: .5s;
}
.sosmed{
    margin: 30px auto;
    text-align: center;
}
.sosmed img{
    width: 300px;
    margin: 0 12px;
    cursor: pointer;
}
.input-grup{
    width: 280px;
    top: 180px;
    transition: .5s;
    position: absolute;
}
.input-field{
    width: 100%;
    margin: 5px 0;
    padding: 10px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid 1px rgb(0, 0, 0);
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 90%;
    margin: auto;
    padding: 10px 30px;
    background: rgb(255, 145, 0);
    border-radius: 40px;
    border: 0;
    outline: none;
    display: block;
    cursor: pointer;
    margin-top: 45px;
}
.check-box{
    margin: 0px 0px 0px 0;
    top: 7000;
}
span{
    color: rgb(0, 0, 0);
    font-size: 12px;
    bottom: 68px;
    position:static;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}